extends layouts/default
include helpers/mixins

block variables
	- const title = "Демо-сайт"

block content
	include ../blocks/modules/demo/demo

block scripts
	script(src="http://localhost:4000/js/main.js")
	script(src="http://localhost:4000/js/vendor.js")
